@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif, monospace;
}

input, select, button {
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  background: none;
}